<ul class="navbar-nav ms-auto">


  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
  </li>


  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="calcDropdown" role="button" data-bs-toggle="dropdown">
      Calculadoras
    </a>
    <ul class="dropdown-menu dropdown-menu-end">

      <li><a class="dropdown-item" href="{{ url_for('imc') }}">IMC</a></li>
      <li><a class="dropdown-item" href="{{ url_for('gct') }}">Gasto calórico (GCT)</a></li>
      <li><a class="dropdown-item" href="{{ url_for('macros') }}">Macronutrientes</a></li>
      <li><a class="dropdown-item" href="{{ url_for('ideal') }}">Peso ideal</a></li>

      <li><hr class="dropdown-divider"></li>


      {% if session.get('user') %}
      <li><a class="dropdown-item" href="{{ url_for('recetas') }}">Analizador de recetas</a></li>
      {% endif %}

    </ul>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('ayuda') }}">Ayuda</a>
  </li>

 
  {% if session.get('user') %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown">
        {{ session['user'] }}
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="{{ url_for('perfil') }}">Mi Perfil</a></li>
        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Cerrar sesión</a></li>
      </ul>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('login') }}">Iniciar sesión</a>
    </li>
  {% endif %}

</ul>
