{% extends "base.html" %}

{% block title %}Funcionalidades de Nutri App{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-5 text-info">Funcionalidades de Nutri App</h1>

        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card bg-dark border-info">
                    <img src="https://via.placeholder.com/300" class="card-img-top border-bottom border-info" alt="Registro de Alimentos">
                    <div class="card-body text-light">
                        <h5 class="card-title text-info">Registro de Alimentos</h5>
                        <p class="card-text">Nuestra aplicación te permite registrar fácilmente los alimentos que consumes, ya sea mediante búsqueda en nuestra base de datos o escaneando códigos de barras para obtener información precisa de su contenido nutricional.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark border-info">
                    <img src="https://via.placeholder.com/300" class="card-img-top border-bottom border-info" alt="Seguimiento de Peso">
                    <div class="card-body text-light">
                        <h5 class="card-title text-info">Seguimiento de Peso y Actividad</h5>
                        <p class="card-text">Nuestra app te permite llevar un control preciso de tu peso y actividad física, mostrando tus progresos en gráficos semanales y mensuales para que puedas evaluar tu evolución de manera visual.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark border-info">
                    <img src="https://via.placeholder.com/300" class="card-img-top border-bottom border-info" alt="Diario Nutricional">
                    <div class="card-body text-light">
                        <h5 class="card-title text-info">Diario Nutricional</h5>
                        <p class="card-text">Mantén un registro diario de lo que consumes. La app te proporcionará un análisis detallado de tus nutrientes consumidos, ayudándote a mantener un equilibrio adecuado entre proteínas, carbohidratos y grasas.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark border-info">
                    <img src="https://via.placeholder.com/300" class="card-img-top border-bottom border-info" alt="Comunidad Nutricional">
                    <div class="card-body text-light">
                        <h5 class="card-title text-info">Comunidad y Consejos</h5>
                        <p class="card-text">Únete a nuestra comunidad de usuarios, comparte tus logros y recibe consejos personalizados de nutricionistas y otros miembros, para mantenerte motivado y enfocado en tus metas.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-dark border-info">
                    <img src="https://via.placeholder.com/300" class="card-img-top border-bottom border-info" alt="Planes de Dieta">
                    <div class="card-body text-light">
                        <h5 class="card-title text-info">Planes de Dieta Personalizados</h5>
                        <p class="card-text">En base a tus objetivos (perder peso, ganar músculo, mejorar la salud), la app te ofrece planes de dieta adaptados a tus necesidades específicas, con recetas saludables y fáciles de preparar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
