{% extends "base.html" %}

{% block content %}


    <h2 class="text-center mb-4">Buscar alimento</h2>

    <form method="POST" class="mb-4">
        <input type="text" name="alimento" class="form-control" placeholder="Ejemplo: Caldo De Pollo">
        <button class="btn btn-success mt-3 w-100">Buscar</button>
    </form>

    {% if datos %}
    <div class="card shadow-sm p-3">
        <h3 class="text-center mb-3">{{ datos.nombre }}</h3>

        <ul class="list-group">
            <li class="list-group-item">
                <strong>Calorías:</strong> {{ datos.calorias }} kcal
            </li>
            <li class="list-group-item">
                <strong>Proteínas:</strong> {{ datos.proteinas }} g
            </li>
            <li class="list-group-item">
                <strong>Carbohidratos:</strong> {{ datos.carbohidratos }} g
            </li>
            <li class="list-group-item">
                <strong>Grasas:</strong> {{ datos.grasas }} g
            </li>
        </ul>

        <div class="mt-3 p-3 text-center 
            {% if datos.nutritivo == 'Sí es nutritivo' %}
                bg-success text-white
            {% elif datos.nutritivo == 'No es tan nutritivo' %}
                bg-warning
            {% else %}
                bg-secondary text-white
            {% endif %}
        ">
            <strong>{{ datos.nutritivo }}</strong>
        </div>
    </div>
    {% endif %}


{% endblock %}
